<h1 mat-dialog-title fxLayout="row" fxLayoutAlign="center center">Lista de Lotes</h1>

<mat-dialog-content>

    <div class="spinner-container" fxLayoutAlign="center center" *ngIf="dataSource.loading$ | async">
        <mat-spinner></mat-spinner>
    </div>

    <mat-form-field>
        <input matInput placeholder="Buscar" #search>
    </mat-form-field>
    <div class="table-container">

        <table mat-table class="table-hover" [dataSource]="dataSource" matSort matSortActive="numeroLote"
            matSortDirection="asc" matSortDisableClear>

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element">{{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="numeroLote">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> No. Lote </th>
                <td mat-cell *matCellDef="let element"> {{element.numeroLote}} </td>
            </ng-container>

            <ng-container matColumnDef="impuesto">
                <th mat-header-cell *matHeaderCellDef> Impuesto </th>
                <td mat-cell *matCellDef="let element"> {{element.impuesto}} </td>
            </ng-container>

            <ng-container matColumnDef="tipoGeneracion">
                <th mat-header-cell *matHeaderCellDef> Tipo de Generación </th>
                <td mat-cell *matCellDef="let element"> {{element.tipoGeneracion}} </td>
            </ng-container>

            <ng-container matColumnDef="periodoFiscal">
                <th mat-header-cell *matHeaderCellDef> Período Fiscal </th>
                <td mat-cell *matCellDef="let element"> {{element.periodoFiscal}} </td>
            </ng-container>

            <ng-container matColumnDef="estadoLote">
                <th mat-header-cell *matHeaderCellDef> Estado del Lote </th>
                <td mat-cell *matCellDef="let element"> {{element.estadoLote}} </td>
            </ng-container>

            <ng-container matColumnDef="cantidad">
                <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onSelectRow(row)">
            </tr>
        </table>
    </div>

    <mat-paginator [length]="dataSource.rowCount$ | async" [pageSizeOptions]="[5, 10, 15]"></mat-paginator>
</mat-dialog-content>


<div mat-dialog-actions>
    <button mat-button (click)="onClose()">Cerrar</button>
</div>