/* You can add global styles to this file, and also import other style files */
// @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$custom-app-primary: mat-palette($mat-blue-grey,600,400,800);
$custom-app-accent:  mat-palette($mat-orange, 500, 300, 700);

// The warn palette is optional (defaults to red).
$custom-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$custom-app-theme: mat-light-theme($custom-app-primary, $custom-app-accent, $custom-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($custom-app-theme);



/*Material Icons*/
@import "./assets/material-icons/material-icons.css";

/*Google Fonts*/
@import "./assets/google-fonts/google-fonts.css";


html {
    font-family: 'Roboto', sans-serif;
}

html, body{
    height: 100%;
}

body{
    margin: 0;
    padding: 0; 
    
}

.viewer{
    margin: 15px 0;
}

.wraper-padding{
    padding: 0 15px;    
}

.wraper-margin{
    margin: auto 15%;
}

// .table-hover > tbody > tr:hover {
//         background-color: #f5f5f5;     
// }

// .mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent {
//     color: white;
// }
